<!doctype html>
<html class="no-js" lang="fa" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> روتکس - قالب اچ تی ام ال مهاجرت و ویزا </title>
    <meta name="description" content="">
    <meta name="author" content="soukhinkhan">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/assets/imgs/logo/favicon.svg")">

    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sofia&amp;display=swap" rel="stylesheet">
    <!-- CSS here -->
    <link rel="stylesheet" href="@Url.Content("~/assets/css/vendor/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/vendor/animate.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/vendor/odometer.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/plugins/swiper.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/vendor/magnific-popup.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/vendor/fontawesome-pro.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/vendor/spacing.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/vendor/custom-font.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/main.css")">
</head>


<body>


    <partial name="Site/_headerPartial" />

    <div id="popup-search-box">
        <div class="box-inner-wrap d-flex align-items-center">
            <form id="form" action="#" method="get" role="search">
                <input id="popup-search" type="text" name="s" placeholder="کلمات کلیدی را در اینجا تایپ کنید ...">
            </form>
            <div class="search-close"><i class="fa-sharp fa-regular fa-xmark"></i></div>
        </div>
    </div>
    <!-- Header area end -->
    <!-- Body main wrapper start -->
    @RenderBody()

    <div id="scroll-percentage"><span id="scroll-percentage-value"></span></div>
    <!-- Footer area start -->
    <partial name="Site/_footerPartial" />

    <!-- Footer area end -->
    <!-- JS here -->
    <partial name="Site/_jsPartial" />
</body>

</html>